.saved-cities-page-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 55rem;
}

.saved-cities-container {
  height: -webkit-fill-available;
  min-height: 0;
  padding-left: 2rem;
  padding-right: 1rem;
}

.saved-cities-label {
  color: var(--primary-text);
}

.saved-cities-list {
  overflow-y: scroll;
  padding-right: 1rem;
}

.saved-cities-list::-webkit-scrollbar {
  background-color: transparent;
  width: 0.6rem;
}

.saved-cities-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border-radius: 1rem;
}

.saved-cities-list > .city:not(:last-child) {
  margin-bottom: 1.2rem;
}

/* .saved-cities-container .city {
  display: flex;
  justify-content: space-between;
  background-color: rgba(103, 109, 134, 0.25);
  padding: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
} */

.saved-cities-container .city:hover {
  /* background-color: rgba(103, 109, 134, 0.25); */
}

.saved-cities-container .city:active {
  /* background-color: rgba(103, 109, 134, 0.5); */
}

.saved-cities-container .city:has(button:active) {
  /* background-color: rgba(103, 109, 134, 0.25) !important; */
}

.no-saved-cities {
  font-weight: 500;
  color: var(--secondary-text);
}
