body {
  background-color: var(--body-bg);
}

p {
  margin: 0;
  color: var(--primary-text);
}

path {
  color: var(--primary-text);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  color: var(--primary-text) !important;
}

.page-container {
  padding: 1rem;
}

@media (max-width: 615px) {
  .page-container {
    zoom: 0.8;
  }
}

@media (max-width: 512px) {
  .page-container {
    zoom: 0.67;
  }
}

@media (max-width: 384px) {
  .page-container {
    zoom: 0.5;
  }
}

@media (max-width: 308px) {
  .page-container {
    zoom: 0.4;
  }
}

.weather-app-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.homepage-container > :first-child {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
}

.weather-app-element-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--container-bg);
  border-radius: 1.5rem;
  padding: 1.8rem;
  width: -webkit-fill-available;
}

.week-forecast-container {
  flex: 1;
}

.weather-app-element-label {
  color: var(--secondary-text);
  font-weight: 700;
}

.highlights-suntimes-container {
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 1100px) {
  .highlights-suntimes-container {
    flex-direction: column;
  }
}
