.week-forecast-content {
  display: flex;
  gap: 1.2rem;
  overflow-x: hidden;
}

.week-forecast-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-radius: 1.5rem;
  background-color: var(--primary-card-bg);
  user-select: none;

  flex-direction: column;
  flex: 1;
  gap: 0.8rem;
}

.week-forecast-element .day {
  font-weight: 500;
  color: var(--secondary-text);
}

.week-forecast-element .weather-condition {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-direction: column;
}

.week-forecast-element .weather-condition-img {
  width: 3.5rem;
}

.week-forecast-element .weather-condition .text {
  font-weight: 700;
  min-width: 8rem;
  text-align: center;
}

.week-forecast-element .temp .min {
  font-weight: 600;
  color: var(--secondary-text);
}

.week-forecast-element .temp .max {
  font-weight: 600;
}
